@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  @apply font-manrope;
}

::-webkit-scrollbar {
  @apply w-[0.5rem];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-tertiary-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded bg-primary-100;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-primary-200;
}

.skeletonDiv {
  @apply [&>*:not(div)]:animate-pulse [&>*:not(div)]:rounded-[0.375rem] [&>*:not(div)]:bg-tertiary-300;
}

.skeletonCell {
  @apply animate-pulse rounded-[0.375rem] bg-tertiary-300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  @apply flex min-h-screen flex-col;
}
